@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
body {
    font-family: 'Josefin sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}
html{
    scroll-behavior: smooth;
}

header {
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    
}

.menu a.active,
.menu a:hover {
  border-bottom: white;
  transition: 0.3s;
}

.hero-section {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
}

.hero-section h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-section p {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.btn {
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

section {
    padding: 2rem 1rem;
    text-align: center;
}

#destinations .destination-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.destination {
    background: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.destination img {
    max-width: 100%;
    border-radius: 10px;
}

.about-section {
    background-color: white;
    padding: 4rem 1rem;
}

.about-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    max-width: 100%;
    border-radius: 10px;
}

.about-content {
    flex: 1;
    padding: 1rem;
}

.about-content h2 {
    font-size: 2.5rem;
    margin: 0;
    color: black;
}

.about-content h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: red;
}

.about-content p {
    font-size: 1.2rem;
    color: black;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-content h2 {
        font-size: 2rem;
    }

    .about-content h3 {
        font-size: 1.2rem;
    }

    .about-content p {
        font-size: 1rem;
    }
}